.imgContainer {
  background-image: url('./Assets/backGround.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
}

.nav-link:hover {
  background-color: black;
}

#logo {
  width: 2%;
}

.headerText {
  color: lightcyan;
}

.card_img {
  width: 50%;

}

.cards {

  display: flex;
  justify-content: space-between;

  

}

.card:hover {
  background-color: aquamarine;
}

.bigCards {
  width: 50%;
  height: 30%;
}

.underLine {
  text-decoration: underline red;
  text-decoration-skip-ink: none;
  text-underline-offset: 0.2em;

}

.bigCards {
  width: 100%;
  height: 75%;
}

.btns{
  background-color: aquamarine;  
  
}